{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<hr>
<h2 class="text-white text-center">FAQ</h2>
<hr>
<section class="row">
    <div class='card-body col-sm-6 col-md-6 col-lg-4 col-xl-3 text-center text-black'>
        <div class="card border-0 shadow">
            <h6 class="mb-3">
                <i class="fa-solid fa-circle-question"></i> <strong>WHERE IS MY ORDER?</strong>
            </h6>
            <p>
                We aim to dispatch your order ASAP. You will receive tracking details when your order is dispatched and
                on it's way to you.
            </p>
        </div>
    </div>

    <div class='card-body col-sm-6 col-md-6 col-lg-4 col-xl-3 text-center text-black'>
        <div class="card border-0 shadow">
            <h6 class="mb-3">
                <i class="fa-solid fa-circle-question"></i> <strong>HOW DO I UPDATE MY DELIVERY ADDRESS?</strong>
            </h6>
            <p>
                You can edit your delivery details from the 'My Profile' section. Alternativly you can change any
                details when you get to the checkout page.
            </p>
        </div>
    </div>

    <div class='card-body col-sm-6 col-md-6 col-lg-4 col-xl-3 text-center text-black'>
        <div class="card border-0 shadow">
            <h6 class="mb-3">
                <i class="fa-solid fa-circle-question"></i> <strong>WHAT IS ALE-ABUNDANCE?</strong>
            </h6>
            <p>
                We are exactly what it says on the tin, we sell and showcase an abundace of beverages from lagers to
                stouts from all across the world.
            </p>
        </div>
    </div>

    <div class='card-body col-sm-6 col-md-6 col-lg-4 col-xl-3 text-center text-black'>
        <div class="card border-0 shadow">
            <h6 class="mb-3">
                <i class="fa-solid fa-circle-question"></i> <strong>CAN I SEE MY ORDER HOSTORY?</strong>
            </h6>
            <p>
                Just go to your 'My Profile' page and click the order history button to view all of your orders.
            </p>
        </div>
    </div>

    <div class='card-body col-sm-6 col-md-6 col-lg-4 col-xl-3 text-center text-black'>
        <div class="card border-0 shadow">
            <h6 class="mb-3">
                <i class="fa-solid fa-circle-question"></i> <strong>HOW DO I FAOURITE PRODUCTS?</strong>
            </h6>
            <p>
                To be able to save a product to your favourites you will first need to register or login to an accout,
                then just go to the product page and hit the bookmark icon and it will be saved to your list. You can
                find this list in the 'My Favourites' page.
            </p>
        </div>
    </div>

    <div class='card-body col-sm-6 col-md-6 col-lg-4 col-xl-3 text-center text-black'>
        <div class="card border-0 shadow">
            <h6 class="mb-3 ">
                <i class="fa-solid fa-circle-question"></i> <strong>CAN I WRITE A REVIEW?</strong>
            </h6>
            <p>
                Login or register with us and click the 'Write a review' button on the product you would like to review.
            </p>
        </div>
    </div>

</section>
{% endblock %}