<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=ABV&direction=desc" class="dropdown-item ">By ABV</a>
                <a href="{% url 'products' %}?sort=overall&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="style-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Style
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="style-link">
                <a href="{% url 'products' %}?category=IPA" class="dropdown-item">IPA</a>
                <a href="{% url 'products' %}?category=stout" class="dropdown-item">Stout</a>
                <a href="{% url 'products' %}?category=lager" class="dropdown-item">Lager</a>
                <a href="{% url 'products' %}?category=pale ale" class="dropdown-item">Pale Ale</a>
                <a href="{% url 'products' %}?category=pilsener" class="dropdown-item">Pilsener</a>
                <a href="{% url 'products' %}?category=wheat beer" class="dropdown-item">Wheat Beer</a>
                <a href="{% url 'products' %}?category=IPA,stout,lager,pale ale,pilsener,wheat beer" class="dropdown-item">All styles</a>
            </div>
        </li>
    </ul>
</div>