<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By ABV</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="style-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Style
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="style-link">
                <a href="{% url 'products' %}?category=IPA" class="dropdown-item">IPA</a>
                <a href="{% url 'products' %}?category=stout" class="dropdown-item">Stout</a>
                <a href="{% url 'products' %}?category=lager" class="dropdown-item">Lager</a>
                <a href="{% url 'products' %}?category=pale ale" class="dropdown-item">Pale Ale</a>
                <a href="{% url 'products' %}?category=pilsener" class="dropdown-item">Pilsener</a>
                <a href="{% url 'products' %}?category=other" class="dropdown-item">Other</a>
                <a href="{% url 'products' %}?category=IPA,stout,lager,pale ale,pilsener,other" class="dropdown-item">All styles</a>
            </div>
        </li>



        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>